
  
  .slider {
   writing-mode: bt-lr;
    -webkit-appearance: slider-vertical; 
   
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 120px;
    height: 120px; 
    background-color: linear-gradient(to bottom, skyblue 0%, yellow 100%); /* Set the background color for the slider thumb */
    border-radius: 50%; 
    cursor: pointer;
  }
  